<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | Home</title>
</head>
<header>
  <% include ../partials/header%>
</header>
<body>
<h1>Happy National Chocolate Chip Cookie Day</h1>
</body>
<footer>
  <% include ../partials/footer%>
</footer>
</html>
